<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Movie Search</title>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
  <script id="movie_view" type="text/template">
  <p>Title: <%= title %> - Year: <%= year %><p> 
  </script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body>
  <h1>Movie Search</h1>
  
  <di></div>
</body>
</html>